body {
	background-color: #ddd;
}

ul li span.negative {
	color: #ff3333;
}

ul li span.positive {
	color: #009900;
}

label.error {
	color: #ff3333;
}

#home ul li a.active {
	color: #000;
}

ul li a.active {
	background: #fff url(../images/spinner2.gif) 100% 50% no-repeat;
}

#loadMore a {
	color: #0066ff;
}
#loadMore a div {
	font-size: 12px;
	color: #999999;
}

/* Delete buttons */
.deleteButton {
	display: none;
	border-radius: 5px;
	float: right;
	height: 15px;
	line-height: 15px;
	margin:  3px 10px 0 0;
	padding: 0.6em;
	z-index: 10;
	border: 1px solid #953403;
	background: #2567ab;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 -1px 1px #953403;
	text-decoration: none;
	background-image: -moz-linear-gradient(top, #ec4a0b, #ad390c);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ec4a0b),color-stop(1, #ad390c));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec4a0b', EndColorStr='#ad390c'
}
a.ui-link-inherit {
	color: #fff;
	padding: 0.6em;
}


