body {
	background-color: #ddd;
}

ul li span.negative {
	color: #ff3333;
}

ul li span.positive {
	color: #009900;
}

label.error {
	color: #ff3333;
}

#home ul li a.active {
	color: #000;
}

ul li a.active {
	background: #fff url(../images/spinner2.gif) 100% 50% no-repeat;
}

#loadMore a {
	color: #0066ff;
}
#loadMore a div {
	font-size: 12px;
	color: #999999;
}

/* Delete buttons */
.deleteButton {
	display: none;
	border-radius: 5px;
	float: right;
	height: 15px;
	line-height: 15px;
	margin:  3px 10px 0 0;
	padding: 0.6em;
	z-index: 10;
	border: 1px solid #953403;
	background: #2567ab;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 -1px 1px #953403;
	text-decoration: none;
	background-image: -moz-linear-gradient(top, #ec4a0b, #ad390c);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ec4a0b),color-stop(1, #ad390c));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec4a0b', EndColorStr='#ad390c'
}
.ui-li-has-count .ui-li-count {
	font-size: 14px;
}

/* Theme for red buttons in jQuery mobile by irohiroki (https://gist.github.com/909284) */
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.ui-btn-up-f {
  border: 1px solid #711414;
  background: #ab2525;
  text-shadow: 0 -1px 1px #711414;
  background-image: -moz-linear-gradient(top, #c44f4f, #ab2525);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c45e5e), color-stop(1, #9e3939));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c44f4f', EndColorStr='#ab2525')";
}

.ui-btn-hover-f {
  border: 1px solid #6e0000;
  background: #b54a4a;
  text-shadow: 0 -1px 1px #690101;
  background-image: -moz-linear-gradient(top, #d47272, #b54a4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d47272), color-stop(1, #b54a4a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d47272', EndColorStr='#b54a4a')";
}

.ui-btn-down-f {
  border: 1px solid #782323;
  background: #c44f4f;
  text-shadow: 0 -1px 1px #782323;
  background-image: -moz-linear-gradient(top, #9e3939, #c44f4f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e3939), color-stop(1, #c44f4f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9e3939', EndColorStr='#c44f4f')";
}
