{% load common %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Budget</title>
	{% css 'jquery.mobile-1.0b3.min.css' %}
	{% css 'budget.css' %}

	{% js 'jquery-1.6.4.min.js' %}
	{% js 'jquery-ui-1.8.2.min.js' %}
	{% js 'jquery.validate.min.js' %}
	{% js 'additional-methods.js' %}
	{% js 'jquery.mobile-1.0b3.min.js' %}
	{% js 'application.js' %}

</head>

<body>
<div id="home" data-role="page" role="main">
	<div data-role="header">
		<h1>Budget</h1>
		<a href="#add" data-role="button" data-inlne="true" data-transition="slideup" data-icon="plus" class="ui-btn-right">Add</a>
	</div>
	<div data-role="content">
		<ul data-inset="true" data-role="listview">
			<li id="total">Total <span class="ui-li-count"></span></li>
		</ul>
		<ul data-inset="true" data-role="listview">
			<li class="arrow"><a href="#" id="goToExpenses">Expenses</a></li>
		</ul>
	</div>
</div>

<div id="expenses" data-role="page">
	<div data-role="header">
		<h1>Expenses</h1>
		<a href="#" data-role="button" data-rel="back" data-icon="arrow-l" class="ui-btn-left">Back</a>
		<a href="#add" data-role="button" data-transition="slideup" data-icon="plus" class="ui-btn-right">Add</a>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			{# --Filled in by AJAX  %#}
		</ul>
	</div>
</div>

<div id="add" data-role="page">
	<div data-role="header">
		<a href="#" data-rel="back" data-icon="delete" data-transition="slidedown">Cancel</a>

		<h1>Add Expense</h1>
	</div>

	<div data-role="content">
		<form name="form" id="form" method="post" action="{% url create_expense_url %}">
			{% csrf_token %}
			<ul data-role="listview" data-inset="true">
				<li>
					<input type="text" name="description" class="required" placeholder="Item Description" id="desc"/>
				</li>
				<li>
					<input type="number" name="amount" placeholder="$0.00" class="required number" id="amount"/>
				</li>
				<li>
					<input type="checkbox" name="deposit"/>
					<label>Deposit?</label>
				</li>
			</ul>
			<button type="submit">Add</button>
		</form>
	</div>
</div>

</body>
</html>
